header {
    background-color:#1F2937;
}

.heading {
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
}

.heading .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    padding: 10px
}

.link {
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px
}

.section-one {
    background-color: #1F2937;
}

.section-two {
    background-color: #ffffff;
    display: flex;
    font-size: 18px;
    text-align: center;
    flex: 1 1 auto;
    }

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
}

.figure-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}


.img2 {
    width: 200px;
    height: 200px;
    flex: 1 1 auto;
    border: 1px solid blue;
}

.section-three {
    background-color: #E5E7EB;
}

.section-four {
    background-color: #ffffff;
}

footer {
    background-color:#1F2937;
}