header {
    background-color:#1F2937;
}

.heading {
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
}

.heading .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    padding: 10px
}

.link {
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px
}

.section-one {
    background-color: #1F2937;
}

.section-two {
    background-color: #ffffff;
    display: flex;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.figure-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

img {
    width: 175px;
    height: 175px;
}

.section-three {
    background-color: #E5E7EB;
}

.section-four {
    background-color: #ffffff;
}

footer {
    background-color:#1F2937;
}